/* Estilos gerais do formulário */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
}

.logo-date {
    margin: 10px 0; /* Ajuste o valor conforme necessário */
}

#data-emissao-display {
    font-size: 16px;
    color: #333; /* Ajuste a cor conforme necessário */
}

.logo {
    width: 150px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
    margin-right: 20px; /* Espaço entre a logo e o título */
}

h1 {
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 1.5em;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    font-size: 0.8em; /* Diminuir o tamanho da fonte */
}

.form-header label {
    margin-bottom: 0.3em; /* Menor espaço entre rótulos */
}

.form-header input {
    width: 150px; /* Ajusta a largura dos campos */
    padding: 0.3em; /* Menor padding */
    box-sizing: border-box;
}

.form-section {
    margin-bottom: 1em;
}

.form-section label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.form-section select, .form-section input, .form-section textarea {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}

textarea {
    resize: vertical; /* Permite redimensionar verticalmente */
}

/* Estilos específicos para a seção de responsáveis */
.responsaveis {
    display: flex;
    justify-content: space-between;
}

.responsaveis div {
    flex: 1;
    margin-right: 10px;
}

.responsaveis div:last-child {
    margin-right: 0;
}

input[type="text"] {
    width: 100%;
}

/* Estilo para o botão */
button {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #4CAF50; /* Cor verde */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Cor verde mais escura ao passar o mouse */
}

/* Estilos específicos para impressão */
@media print {
    button {
        display: none; /* Oculta o botão ao imprimir */
    }

    #setor-responsavel, 
    select {
        -webkit-appearance: none; /* Oculta a seta no Chrome e Safari */
        -moz-appearance: none; /* Oculta a seta no Firefox */
        appearance: none; /* Oculta a seta em navegadores que suportam */
        pointer-events: none; /* Impede que o usuário altere a seleção */

    }
}
